__pycache__/
.ipynb_checkpoints/
.DS_Store
.idea/
artifacts/*
!artifacts/.gitkeep
figures/*.png
!figures/.gitkeep
data/big_data_set1_f.csv
data/ds2_monthly_usage.csv
data/ds3_monthly_customers.csv
!data/.gitkeep